@model UniversidadM
@{
    ViewData["Title"] = "EditarUniversidad";
    DatosUniversidades datosUniversidades = new DatosUniversidades();
    int X = 0;
}

<h1>Editar Universidad</h1>

@foreach (var universidad in datosUniversidades.Universidades)
{
    if (universidad.ID_Universidad == ViewBag.IDUniversidad)
    {
        X = 1;
        break;
    }
}
@if (X == 1)
{
    <a class="alert-link" asp-action="AgregarUniversidad ">¿Quieres agregar una Universidad?</a>
    <br />
    <br />
    <div class="col-6 formulario">
        <form method="post" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>ID</h5>
                <input id="ID" asp-for="ID_Universidad" value="@ViewData["ID"]" class="form-control" readonly />
                <span asp-validation-for="ID_Universidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Nombre</h5>
                <input asp-for="Nombre_Universidad" value="@ViewData["Nombre"]" class="form-control" required />
                <span asp-validation-for="Nombre_Universidad" class="text-danger"></span>
            </div>          

            <button type="submit" class="btn btn-primary">Guardar</button>

            <a class="btn btn-primary" asp-controller="Universidades" asp-action="ModificarUniversidad">Ir a Modificacion</a>
        </form>
    </div>
}
else
{
    <hr />
    <br />
    <br />
    <br />

    <div class="text-center">
        <h3><span class="text-danger">Debes seleccionar una Universidad.</span></h3>
        <a class="alert-link" asp-controller="Universidades" asp-action="ModificarUniversidad">Volver</a>
    </div>
}

